/* ==========================
   NAVBAR
========================== */

.navbar {
  transition: 0.3s;
  padding: 12px 0;
}

.navbar-brand {
  text-decoration: none;
}

.logo-text h5 {
  color: #198754;
  font-weight: 700;
  margin: 0;
}

.logo-text small {
  color: #6c757d;
  font-size: 12px;
}

.nav-link {
  font-weight: 500;
  margin-left: 15px;
}

.nav-link:hover,
.nav-link.active {
  color: #198754 !important;
}

/* ==========================
   HERO
========================== */

.hero {
  min-height: 100vh;
  background: linear-gradient(135deg, #f8fff9, #ffffff);
  padding-top: 90px;
}

.hero h1 {
  font-size: 55px;
  font-weight: 800;
  color: #198754;
}

.hero span {
  color: #146c43;
}

.hero h3 {
  margin-top: 15px;
  color: #555;
  font-weight: 500;
}

.hero p {
  margin: 25px 0;
  font-size: 18px;
  line-height: 1.8;
}

.hero-logo {
  max-width: 350px;
}

/* ==========================
   ABOUT
========================== */

.about {
  padding: 100px 0;
}

.section-subtitle {
  color: #198754;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 15px 0;
}

.about p {
  color: #555;
  line-height: 1.8;
}

.about-list p {
  margin-bottom: 10px;
  font-weight: 500;
}

/* ==========================
   ABOUT
========================== */

.about {
  padding: 100px 0;
  background: white;
}

.section-subtitle {
  color: #198754;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.about h2 {
  font-size: 40px;
  font-weight: 700;
  margin: 15px 0;
}

.about p {
  color: #555;
  line-height: 1.9;
}

.about-list p {
  margin-bottom: 10px;
  font-weight: 500;
}

.about img {
  border-radius: 20px;
}
